<div class='main__table__four-field'>

  {{>table-field label=label1 info=info1}}

  {{>table-field label=label2 info=info2}}

  {{>table-field label=label3 info=info3}}

  {{>table-field label=label4 info=info4}}

</div>