@use '../../lib/service.scss' as s;

.card {
    margin: s.space(4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: s.space(4);
    gap: s.space(8);
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: s.space(4);
        gap: s.space(4);
    }

    &__title {
        font-size:20px;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
    }

    &__button {
        background-color: blue;
        padding: s.space(2);
        padding-left: s.space(15);
        padding-right: s.space(15);
        border-radius: 4px;
        text-decoration: none;
        color: white;
    }

}