{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class='main'>
  {{>heading title="Мої замовлення" options="heading--big-bottom-margin"}}

  <div class="main__table">
    {{#each data.list}}
      <div class="main__table__item">
        <a href="/purchase-info?id={{id}}" class="main__table__item__link base-text">ID: {{id}}</a>

        {{>table-field title="Товари" info=product.title}}

        {{>table-field title="Сума замовлення" info=totalPrice hrn="₴"}}

        {{>table-field title="Нараховані бонуси" info=bonus hrn="₴"}}
      </div>

      {{#if @last}}
      {{else}}
        {{>divider}}
      {{/if}}

    {{/each}}
  </div>

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}